<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %>, Welcome to NTouchMusic.com "<%= @song.title %>"</h2>
    <p style="font-size:28px;"><%= link_to "Sign In", "http://ntouchmusic.herokuapp.com" %></p>
  </body>
</html>
