<!doctype html>
<html>

<head>
  <title>Admin account Manager</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="./stylesheets/application.css">
</head>

<body>

  <header class="main-header">
    <h1 class="logo">
      <a href="./feed.html">In Touch</a>
    </h1>

    <nav>
      <ul>
      <li><a href="admin_dashboard.html">admin</a></li>
           <li><a href="feed.html">My Feed</a></li>
        <li><a href="following.html">My Artists/Add Artist</a></li>
        <li><a href="home.html">Sign Out</a></li>
      </ul>
    </nav>
  </header>

<div>
<a href="feed" class="btn btn-default btn-lg btn-block bbb-color-in">Proceed to In Touch as User</a>
</div>




</body>
</html>
