<!doctype html>
<html>

<head>
  <title>Admin Dashboard</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="./stylesheets/application.css">
</head>

<body>

  <header class="main-header">
    <h1 class="logo">
      <a href="./feed.html">In Touch</a>
    </h1>

    <nav>
      <ul>
           <li><a href="feed.html">My Feed</a></li>
        <li><a href="following.html">My Artists/Add Artist</a></li>
        <li><a href="home.html">Sign Out</a></li>
      </ul>
    </nav>
  </header>

   <div class="btn-group btn-group-justified">
    <a href="/songs" class="btn btn-default">Song Index</a>
    <a href="artists" class="btn btn-default">Artist Index</a>
  </div>

<br>

  <div class="btn-group btn-group-justified">
    <a href="/songs/new" class="btn btn-default">Add Song</a>
    <a href="artists/new" class="btn btn-default">Add Artist</a>
  </div>

<br>

  <div class="btn-group btn-group-justified">
  <a href="account_manager" class="btn btn-default">User Account Manager</a>
  <a href="feed" class="btn btn-default">Proceed to In Touch as User</a>
</div>



</body>
</html>
