<div class="btn-group btn-group-justified">
    <a href="/songs" class="btn btn-default">Song Index</a>
    <a href="artists" class="btn btn-default">Artist Index</a>
  </div>

<br>

  <div class="btn-group btn-group-justified">
    <a href="/songs/new" class="btn btn-default">Add Song</a>
    <a href="artists/new" class="btn btn-default">Add Artist</a>
  </div>

<br>

  <div class="btn-group btn-group-justified">
  <a href="account_manager" class="btn btn-default">User Account Manager</a>
  <a href="feed" class="btn btn-default">Proceed to In Touch as User</a>
</div>

