.kanye {
  max-width: 800px;
  margin: 0 auto;
}

.opening-line {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.centerp {
  text-align: center;
}

.form-group {
  width: 600px;
  margin: 0 auto;
}

.col-lg-2, .col-lg-10 {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.control-label {
  color: #008DDC;
}

.home-text {
  width: 50%;
  font-size: 35px;
  text-align: center;
  font-family: "Lobster";
  border: 1px solid rgb(112, 16, 18);
  margin: 0 auto;
  padding: 0;
}

.home-text-spann {
  font-family: arial;
  color: rgb(112, 16, 18);
  font-size: 25px;
  font-weight: bold;
}
