<body data-twttr-rendered="true">
  <iframe id="twttrHubFrameSecure" allowtransparency="true" frameborder="0" scrolling="no" tabindex="0" name="twttrHubFrameSecure" src="https://platform.twitter.com/widgets/hub.f15fe2cd70788a40560e69fa17341d5e.html" style="position: absolute; top: -9999em; width: 10px; height: 10px;"></iframe>
  <iframe id="twttrHubFrame" allowtransparency="true" frameborder="0" scrolling="no" tabindex="0" name="twttrHubFrame" src="http://platform.twitter.com/widgets/hub.f15fe2cd70788a40560e69fa17341d5e.html" style="position: absolute; top: -9999em; width: 10px; height: 10px;"></iframe>
  <div id="fb-root" class=" fb_reset">
    <div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div>
      <iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="http://static.ak.facebook.com/connect/xd_arbiter/KvoNGODIqPG.js?version=41#channel=f3e8ebdf14&amp;origin=http%3A%2F%2Fwww.audiomack.com" style="border: none;"></iframe>
      <iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter/KvoNGODIqPG.js?version=41#channel=f3e8ebdf14&amp;origin=http%3A%2F%2Fwww.audiomack.com" style="border: none;"></iframe>
    </div>
  </div>
  <div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0&appId=915618071782957";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <div id="site-wrap">
  <div id="cmn_wrap">
  <div id="main">
  <div id="album">
  <div class="container">
  <div class="player-wrapper">
  <div class="no-margin-left no-margin-right">
  <div class="player">
        <script type="text/javascript">
        var m = 136560;

        $(document).ready(function() {
          trackEvent('pv', m, audiomack.music_token);

          if($.browser.chrome) {
            $(".download-album, .download-song").attr('target', '_blank');
          }
        });
        </script>



  <div id="wrap" class=" ">
    <div class="pborder">
      <div class="pwrap">
        <div class="player-left">
          <div class="black-overlay"></div>

            <span class="prev-track glyphicon glyphicon-fast-backward"></span>

            <span id="play-button" class="playlist">

              <i class="icon glyphicon glyphicon-play"></i>

              <span class="loading-icon song-loader">
                <span class="circle circle-1"></span>
                <span class="circle circle-2"></span>
                <span class="circle circle-3"></span>
              </span>

            </span>
            <span class="next-track glyphicon glyphicon-fast-forward"></span>
        </div>

        <div class="player-right">
          <div class="player-header">
            <div class="player-title ">
              <span class="artist">
                <a href="http://www.audiomack.com/album/mulatto-patriot/ray-elementary" target="_blank" sl- processed="1">Mulatto Patriot &amp; Primeridian's Simeon Viltz</a>
              </span>
              <span class="song-title"><a href="http://www.audiomack.com/album/mulatto-patriot/ray-elementary" target="_blank" id="song-title-link" sl-processed="1">Ray Elementary</a>
              </span><a href="http://www.audiomack.com/album/mulatto-patriot/ray-elementary" target="_blank" id="song-title-link" sl-processed="1"></a></div>
              <a href="http://www.audiomack.com/album/mulatto-patriot/ray-elementary" target="_blank" id="song-title-link" sl-processed="1"></a>
              <div class="player-icons"><a href="http://www.audiomack.com/album/mulatto-patriot/ray-elementary" target="_blank" id="song-title-link" sl-processed="1"></a>

              <!-- <a class="scloud-icon ext-icon player-icon" style="display: none !important;" target="_blank" href="" data-original-title="" title="" sl-processed="1"><i class="fa fa-soundcloud"></i></a>
 -->
              <!-- <a data-toggle="tooltip" data-placement="left" class="player-icon share-twitter" target="_blank" title="" href="https://twitter.com/share?url=http://www.audiomack.com/album/mulatto-patriot/ray-elementary&amp;text=Mulatto Patriot &amp; Primeridian's Simeon Viltz - Ray Elementary via @mulattopatriot" data-original-title="Share on Twitter" sl-processed="1">
                <span class="fa fa-twitter"></span>
              </a>

              <a data-toggle="tooltip" data-placement="left" class="player-icon share-facebook" target="_blank" title="" href="https://facebook.com/sharer/sharer.php?u=http://www.audiomack.com/album/mulatto-patriot/ray-elementary" data-original-title="Share on Facebook" sl-processed="1">
                <span class="fa fa-facebook"></span>
              </a> -->

              <!-- <a id="download-song" data-toggle="tooltip" data-placement="left" class="player-icon download-song" title="" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/mulatto-patriot-ray-elementary.zip?Expires=1430155107&amp;Signature=jeLDybsD7ghLtoiMnPB-FVokxn596DmpDtHhKLIlRO1qU6eMsXq~Bobbp03o769hwWHi3dXeRJUKSX9oyOmHfowS4c0G5t71Jvzk4Q98ZHQc8q0hXxk1lmJAz0C0xPBiTH9mb9JQI6HSTzOGmO5XQrIiV7XL3CD0HXugrd4~Vto_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" data-url="/album/mulatto-patriot/ray-elementary" data-original-title="Download" target="_blank" sl-processed="1"> -->

                  <span class="glyphicon glyphicon-save"></span>
                  </a>
                  <script>
                  $('#download-song').on('click', function(event) {
                    if ($('#follow-download').length > 0) {
                      event.preventDefault();
                      $('#follow-download').show(400);
                      scrollToElement('#follow-download', 1000, -75);
                    }
                    else {
                      var dl = $(this).data('url');
                      ga('send', 'event', { eventCategory: 'Downloads', eventAction: $(this).attr('href').split('?')[0], eventLabel: window.location.href});
                      setTimeout(function() {recordDl(dl)}, 250);
                                        }
                  });
                  </script>
                   <!-- <a data-placement="left" class="player-embed player-icon" title="" href="#embed" id="itsembed" data-toggle="modal" onclick="ga('send', 'event', { eventCategory: 'Embed', eventAction: $(this).attr('href').split('?')[0], eventLabel: window.location.href});" data-original-title="Embed" sl-processed="1"> -->
                <span class="glyphicons embed_close"></span>
              </a>
                    <a data-toggle="tooltip" data-placement="left" data-music_id="136560" data-action="favorite" title="" class="launch_login_modal player-icon" data-original-title="Favorite">
                  <span class="glyphicon glyphicon-star"></span>
                </a>

            </div>
          </div>

          <div class="wform-wrap">

          <!-- <div class="player-song-stats">
            <span class="song-plays glyphicon glyphicon-play"></span><span class="song-plays-stat">3.82K</span><span class="divider"></span>
            <span class="song-favorites glyphicon glyphicon-star"></span><span class="song-favorites-stat">0</span><span class="divider"></span>
          </div> -->

          <div class="player-jwplayer">
            <div class="elapsed">00:00</div>


            <div class="slider-container">

            <div class="slider">
              <span class="progress"></span>
                <div class="waveform" data-color="ffa200" data-duration="192" data-waveform="[27,30,23,31,39,44,41,44,48,47,39,43,44,48,41,44,55,48,44,48,47,46,51,49,64,46,63,49,61,52,62,52,61,50,56,46,56,50,55,52,61,44,58,56,56,51,60,56,57,47,43,47,47,46,44,47,47,56,52,57,53,58,52,58,47,62,54,59,55,57,50,60,65,54,51,51,51,61,50,59,48,62,55,59,46,56,43,60,45,61,55,58,49,51,47,57,50,53,42,43,41,39,38,40,41,44,59,48,44,45,46,48,45,44,46,46,45,45,50,47,51,45,44,44,38,42,45,44,42,40,45,40,46,42,45,37,44,43,54,47,49,52,51,55,51,48,62,48,48,53,47,52,52,61,60,44,56,48,56,50,56,48,49,40,39,38,35,39,39,46,43,55,63,61,56,54,58,59,52,55,42,47,36,37,27,35,27,36,7,0,0,0]" style="width: 565px; height: 30px;"><span style="left:0px;width:2px;height:8.7px;"></span><span style="left:3px;width:2px;height:6.8999999999999995px;"></span><span style="left:6px;width:2px;height:9.299999999999999px;"></span><span style="left:9px;width:2px;height:11.7px;"></span><span style="left:12px;width:2px;height:13.2px;"></span><span style="left:15px;width:2px;height:12.299999999999999px;"></span><span style="left:18px;width:2px;height:13.2px;"></span><span style="left:21px;width:2px;height:14.399999999999999px;"></span><span style="left:24px;width:2px;height:14.1px;"></span><span style="left:27px;width:2px;height:11.7px;"></span><span style="left:30px;width:2px;height:12.9px;"></span><span style="left:33px;width:2px;height:13.2px;"></span><span style="left:36px;width:2px;height:14.399999999999999px;"></span><span style="left:39px;width:2px;height:12.299999999999999px;"></span><span style="left:42px;width:2px;height:13.2px;"></span><span style="left:45px;width:2px;height:16.5px;"></span><span style="left:48px;width:2px;height:14.399999999999999px;"></span><span style="left:51px;width:2px;height:13.2px;"></span><span style="left:54px;width:2px;height:14.399999999999999px;"></span><span style="left:57px;width:2px;height:14.1px;"></span><span style="left:60px;width:2px;height:13.799999999999999px;"></span><span style="left:63px;width:2px;height:15.299999999999999px;"></span><span style="left:66px;width:2px;height:14.7px;"></span><span style="left:69px;width:2px;height:19.2px;"></span><span style="left:72px;width:2px;height:13.799999999999999px;"></span><span style="left:75px;width:2px;height:18.9px;"></span><span style="left:78px;width:2px;height:14.7px;"></span><span style="left:81px;width:2px;height:18.3px;"></span><span style="left:84px;width:2px;height:15.6px;"></span><span style="left:87px;width:2px;height:18.599999999999998px;"></span><span style="left:90px;width:2px;height:15.6px;"></span><span style="left:93px;width:2px;height:18.3px;"></span><span style="left:96px;width:2px;height:15px;"></span><span style="left:99px;width:2px;height:16.8px;"></span><span style="left:102px;width:2px;height:13.799999999999999px;"></span><span style="left:105px;width:2px;height:16.8px;"></span><span style="left:108px;width:2px;height:15px;"></span><span style="left:111px;width:2px;height:16.5px;"></span><span style="left:114px;width:2px;height:15.6px;"></span><span style="left:117px;width:2px;height:18.3px;"></span><span style="left:120px;width:2px;height:13.2px;"></span><span style="left:123px;width:2px;height:17.4px;"></span><span style="left:126px;width:2px;height:16.8px;"></span><span style="left:129px;width:2px;height:16.8px;"></span><span style="left:132px;width:2px;height:15.299999999999999px;"></span><span style="left:135px;width:2px;height:18px;"></span><span style="left:138px;width:2px;height:16.8px;"></span><span style="left:141px;width:2px;height:17.099999999999998px;"></span><span style="left:144px;width:2px;height:14.1px;"></span><span style="left:147px;width:2px;height:12.9px;"></span><span style="left:150px;width:2px;height:14.1px;"></span><span style="left:153px;width:2px;height:14.1px;"></span><span style="left:156px;width:2px;height:13.799999999999999px;"></span><span style="left:159px;width:2px;height:13.2px;"></span><span style="left:162px;width:2px;height:14.1px;"></span><span style="left:165px;width:2px;height:14.1px;"></span><span style="left:168px;width:2px;height:16.8px;"></span><span style="left:171px;width:2px;height:15.6px;"></span><span style="left:174px;width:2px;height:17.099999999999998px;"></span><span style="left:177px;width:2px;height:15.899999999999999px;"></span><span style="left:180px;width:2px;height:17.4px;"></span><span style="left:183px;width:2px;height:15.6px;"></span><span style="left:186px;width:2px;height:17.4px;"></span><span style="left:189px;width:2px;height:16.5px;"></span><span style="left:192px;width:2px;height:16.2px;"></span><span style="left:195px;width:2px;height:17.7px;"></span><span style="left:198px;width:2px;height:16.5px;"></span><span style="left:201px;width:2px;height:17.099999999999998px;"></span><span style="left:204px;width:2px;height:15px;"></span><span style="left:207px;width:2px;height:18px;"></span><span style="left:210px;width:2px;height:19.5px;"></span><span style="left:213px;width:2px;height:16.2px;"></span><span style="left:216px;width:2px;height:15.299999999999999px;"></span><span style="left:219px;width:2px;height:15.299999999999999px;"></span><span style="left:222px;width:2px;height:15.299999999999999px;"></span><span style="left:225px;width:2px;height:18.3px;"></span><span style="left:228px;width:2px;height:15px;"></span><span style="left:231px;width:2px;height:17.7px;"></span><span style="left:234px;width:2px;height:14.399999999999999px;"></span><span style="left:237px;width:2px;height:18.599999999999998px;"></span><span style="left:240px;width:2px;height:16.5px;"></span><span style="left:243px;width:2px;height:17.7px;"></span><span style="left:246px;width:2px;height:13.799999999999999px;"></span><span style="left:249px;width:2px;height:16.8px;"></span><span style="left:252px;width:2px;height:12.9px;"></span><span style="left:255px;width:2px;height:18px;"></span><span style="left:258px;width:2px;height:13.5px;"></span><span style="left:261px;width:2px;height:18.3px;"></span><span style="left:264px;width:2px;height:16.5px;"></span><span style="left:267px;width:2px;height:17.4px;"></span><span style="left:270px;width:2px;height:14.7px;"></span><span style="left:273px;width:2px;height:15.299999999999999px;"></span><span style="left:276px;width:2px;height:14.1px;"></span><span style="left:279px;width:2px;height:17.099999999999998px;"></span><span style="left:282px;width:2px;height:15px;"></span><span style="left:285px;width:2px;height:15.899999999999999px;"></span><span style="left:288px;width:2px;height:12.6px;"></span><span style="left:291px;width:2px;height:12.9px;"></span><span style="left:294px;width:2px;height:12.299999999999999px;"></span><span style="left:297px;width:2px;height:11.7px;"></span><span style="left:300px;width:2px;height:11.4px;"></span><span style="left:303px;width:2px;height:12px;"></span><span style="left:306px;width:2px;height:12.299999999999999px;"></span><span style="left:309px;width:2px;height:13.2px;"></span><span style="left:312px;width:2px;height:17.7px;"></span><span style="left:315px;width:2px;height:14.399999999999999px;"></span><span style="left:318px;width:2px;height:13.2px;"></span><span style="left:321px;width:2px;height:13.5px;"></span><span style="left:324px;width:2px;height:13.799999999999999px;"></span><span style="left:327px;width:2px;height:14.399999999999999px;"></span><span style="left:330px;width:2px;height:13.5px;"></span><span style="left:333px;width:2px;height:13.2px;"></span><span style="left:336px;width:2px;height:13.799999999999999px;"></span><span style="left:339px;width:2px;height:13.799999999999999px;"></span><span style="left:342px;width:2px;height:13.5px;"></span><span style="left:345px;width:2px;height:13.5px;"></span><span style="left:348px;width:2px;height:15px;"></span><span style="left:351px;width:2px;height:14.1px;"></span><span style="left:354px;width:2px;height:15.299999999999999px;"></span><span style="left:357px;width:2px;height:13.5px;"></span><span style="left:360px;width:2px;height:13.2px;"></span><span style="left:363px;width:2px;height:13.2px;"></span><span style="left:366px;width:2px;height:11.4px;"></span><span style="left:369px;width:2px;height:12.6px;"></span><span style="left:372px;width:2px;height:13.5px;"></span><span style="left:375px;width:2px;height:13.2px;"></span><span style="left:378px;width:2px;height:12.299999999999999px;"></span><span style="left:381px;width:2px;height:13.5px;"></span><span style="left:384px;width:2px;height:12px;"></span><span style="left:387px;width:2px;height:13.799999999999999px;"></span><span style="left:390px;width:2px;height:12.6px;"></span><span style="left:393px;width:2px;height:13.5px;"></span><span style="left:396px;width:2px;height:11.1px;"></span><span style="left:399px;width:2px;height:13.2px;"></span><span style="left:402px;width:2px;height:12.9px;"></span><span style="left:405px;width:2px;height:16.2px;"></span><span style="left:408px;width:2px;height:14.1px;"></span><span style="left:411px;width:2px;height:14.7px;"></span><span style="left:414px;width:2px;height:15.6px;"></span><span style="left:417px;width:2px;height:15.299999999999999px;"></span><span style="left:420px;width:2px;height:16.5px;"></span><span style="left:423px;width:2px;height:15.299999999999999px;"></span><span style="left:426px;width:2px;height:14.399999999999999px;"></span><span style="left:429px;width:2px;height:18.599999999999998px;"></span><span style="left:432px;width:2px;height:14.399999999999999px;"></span><span style="left:435px;width:2px;height:14.399999999999999px;"></span><span style="left:438px;width:2px;height:15.899999999999999px;"></span><span style="left:441px;width:2px;height:14.1px;"></span><span style="left:444px;width:2px;height:15.6px;"></span><span style="left:447px;width:2px;height:15.6px;"></span><span style="left:450px;width:2px;height:18.3px;"></span><span style="left:453px;width:2px;height:18px;"></span><span style="left:456px;width:2px;height:13.2px;"></span><span style="left:459px;width:2px;height:16.8px;"></span><span style="left:462px;width:2px;height:14.399999999999999px;"></span><span style="left:465px;width:2px;height:16.8px;"></span><span style="left:468px;width:2px;height:15px;"></span><span style="left:471px;width:2px;height:16.8px;"></span><span style="left:474px;width:2px;height:14.399999999999999px;"></span><span style="left:477px;width:2px;height:14.7px;"></span><span style="left:480px;width:2px;height:12px;"></span><span style="left:483px;width:2px;height:11.7px;"></span><span style="left:486px;width:2px;height:11.4px;"></span><span style="left:489px;width:2px;height:10.5px;"></span><span style="left:492px;width:2px;height:11.7px;"></span><span style="left:495px;width:2px;height:11.7px;"></span><span style="left:498px;width:2px;height:13.799999999999999px;"></span><span style="left:501px;width:2px;height:12.9px;"></span><span style="left:504px;width:2px;height:16.5px;"></span><span style="left:507px;width:2px;height:18.9px;"></span><span style="left:510px;width:2px;height:18.3px;"></span><span style="left:513px;width:2px;height:16.8px;"></span><span style="left:516px;width:2px;height:16.2px;"></span><span style="left:519px;width:2px;height:17.4px;"></span><span style="left:522px;width:2px;height:17.7px;"></span><span style="left:525px;width:2px;height:15.6px;"></span><span style="left:528px;width:2px;height:16.5px;"></span><span style="left:531px;width:2px;height:12.6px;"></span><span style="left:534px;width:2px;height:14.1px;"></span><span style="left:537px;width:2px;height:10.799999999999999px;"></span><span style="left:540px;width:2px;height:11.1px;"></span><span style="left:543px;width:2px;height:8.1px;"></span><span style="left:546px;width:2px;height:10.5px;"></span><span style="left:549px;width:2px;height:8.1px;"></span><span style="left:552px;width:2px;height:10.799999999999999px;"></span><span style="left:555px;width:2px;height:2.1px;"></span><span style="left:558px;width:2px;height:0.3px;"></span><span style="left:561px;width:2px;height:0.3px;"></span><span style="left:564px;width:2px;height:0.3px;"></span></div>

              <div class="white-border"></div>
            </div><!--/.slider-->

            </div><!--/.slider-container-->

            <div class="duration">00:00</div>

          </div>


          </div><!--/.wform-wrap-->

          <div id="audiomack-embed" class="am-jwplayer" style="display:none;" data-src="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary" data-title="Ray Elementary" data-performer="Mulatto Patriot &amp; Primeridian's Simeon Viltz" data-url="/song/mulatto-patriot/ray-elementary" data-can-download="true" data-buy-link="" data-embed="<iframe src='http://www.audiomack.com/embed4/mulatto-patriot/ray-elementary' scrolling='no' width='100%' height='144' scrollbars='no' frameborder='0'></iframe>" data-art-url="http://assets.audiomack.com/mulatto-patriot/f19fe6cc175956902caf0d6aff278498.jpeg" data-preroll="false" data-promo-key="" data-uploader="2438"><span class="player-loading">Loading the player...</span>
          </div>
        </div>

              <div id="playlist" class="plwrapper" for="audiomack-embed">
                              <div class="song-wrap" style="position:relative">
            <div class="song" data-duration="192" data-waveform="[27,30,23,31,39,44,41,44,48,47,39,43,44,48,41,44,55,48,44,48,47,46,51,49,64,46,63,49,61,52,62,52,61,50,56,46,56,50,55,52,61,44,58,56,56,51,60,56,57,47,43,47,47,46,44,47,47,56,52,57,53,58,52,58,47,62,54,59,55,57,50,60,65,54,51,51,51,61,50,59,48,62,55,59,46,56,43,60,45,61,55,58,49,51,47,57,50,53,42,43,41,39,38,40,41,44,59,48,44,45,46,48,45,44,46,46,45,45,50,47,51,45,44,44,38,42,45,44,42,40,45,40,46,42,45,37,44,43,54,47,49,52,51,55,51,48,62,48,48,53,47,52,52,61,60,44,56,48,56,50,56,48,49,40,39,38,35,39,39,46,43,55,63,61,56,54,58,59,52,55,42,47,36,37,27,35,27,36,7,0,0,0]">
              <div class="index">01.</div>
              <div class="title">
                <a href="#" data-url="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary/0" sl-processed="1">Drum Line Feat. Sincerely Yours </a>
              </div>


            </div><!--/.song-->
            <div class="song-actions">
                <div class="favorite-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Favorite Album Track">
                                                      <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </div><!--/.favourite-song-->
                <div class="playlist-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Add to Playlist">
                                                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div><!--/.playlist-song-->
                                                  <div class="download-song" target="_blank">
                    <a target="_blank" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/drum-line-feat.-sincerely-yours.mp3?Expires=1430155107&amp;Signature=gT9XENOW4FEt7rkUOjaCo91pqSeVBy2lRw4vpOiaKiB1iDLHqY0gXSa-WY6-g4MsNHIwl8nLz7~rGisOVLz-77rorhkL9VhmIk473VXWG2KkmBxDJfIxrownuwsjNI2IyxbzMkUqzCzhzga0XKwc-zhkyizfxnhGDznRh97NJWo_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" sl-processed="1">
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                                              <div class="spacer"></div>
              </div>
            </div><!--/.song-wrap-->
                              <div class="song-wrap" style="position:relative">
            <div class="song" data-duration="200" data-waveform="[28,19,32,24,22,29,25,32,49,36,39,52,41,48,51,42,49,46,50,56,47,46,57,51,51,56,49,59,51,50,46,52,57,52,42,42,48,43,50,46,39,47,52,44,52,52,41,53,50,44,50,44,50,64,60,67,59,49,54,62,49,51,59,51,57,61,52,47,49,46,59,48,55,59,53,51,63,54,55,54,48,60,53,52,57,54,58,60,57,52,55,44,54,59,46,54,51,55,54,71,66,64,60,57,58,49,49,54,53,55,55,51,50,58,55,58,49,53,54,46,54,55,58,58,54,44,53,52,46,46,54,48,65,63,56,50,38,54,60,47,48,60,49,57,65,57,62,53,59,49,35,46,45,46,36,54,38,44,45,43,51,30,35,44,44,49,48,36,44,43,47,42,47,36,40,45,40,43,31,35,38,35,29,30,17,18,26,28,28,29,18,28,7,4,2,1,0,0,0,0]">
              <div class="index">02.</div>
              <div class="title">
                <a href="#" data-url="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary/1" sl-processed="1">Funky Junkie Feat. Psalm One &amp;amp; Awdazcate </a>
              </div>

            </div><!--/.song-->
            <div class="song-actions">
                <div class="favorite-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Favorite Album Track">
                                                      <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </div><!--/.favourite-song-->
                <div class="playlist-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Add to Playlist">
                                                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div><!--/.playlist-song-->
                                                  <div class="download-song" target="_blank">
                      <a target="_blank" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/funky-junkie-feat.-psalm-one-amp-awdazcate.mp3?Expires=1430155107&amp;Signature=HAmXcXv4-avwuND2mqZiT~1NFz1qgXSgvNxcZN5~qLD3XnQSl0KmG3QzSV6DBCuvj0mL01F4pQ6goqOJU9Tct3f5HkDZKleskn~YbR7DrqWt2DsIK5NLIeWwzLvpnYA~G4ARWn8lC1iYpyGMQ3iiysRw84XWCayeM7wC3iWI8FY_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" sl-processed="1">
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                                              <div class="spacer"></div>
              </div>
            </div><!--/.song-wrap-->
                              <div class="song-wrap" style="position:relative">
            <div class="song" data-duration="178" data-waveform="[25,25,31,26,25,46,44,54,42,34,45,53,40,46,37,46,47,48,50,27,44,48,50,42,31,46,49,49,44,39,37,53,48,43,36,48,48,42,39,45,44,43,44,42,49,40,49,48,43,51,37,45,47,49,43,42,48,46,47,44,40,37,45,44,45,35,44,46,45,51,41,40,46,54,44,44,33,42,43,52,53,30,42,49,51,42,42,35,59,63,54,52,50,55,51,56,52,50,58,52,52,50,51,57,53,47,48,43,59,51,43,40,38,35,40,43,40,37,42,47,40,43,39,36,45,40,45,44,42,48,47,50,48,35,48,50,44,40,39,45,44,50,53,29,39,47,54,42,35,34,48,43,47,45,30,46,53,46,41,18,10,8,8,7,5,3,12,8,8,7,4,3,1,1,0,0,0,0]">
              <div class="index">03.</div>
              <div class="title">
                <a href="#" data-url="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary/2" sl-processed="1">Mysterious Vibes </a>
              </div>

            </div><!--/.song-->
            <div class="song-actions">
                <div class="favorite-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Favorite Album Track">
                                                      <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </div><!--/.favourite-song-->
                <div class="playlist-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Add to Playlist">
                                                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div><!--/.playlist-song-->
                                                  <div class="download-song" target="_blank">
                      <a target="_blank" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/mysterious-vibes.mp3?Expires=1430155107&amp;Signature=BFLmB2~y7bxqKiQOROGeH8Y96IAnQNQ8atEzznJ-Sl2O7gFd371QgeMjt7s8WwrBK3HznJ4UGqx84y1qtFxIYLf2FoDvCWW8JMCvUFb3tDLNoJu7J74tCBUaRu6-cR~hOjRotbCdupFp1ccNRz6lAw5QYtTC4EV3acZp96JV9mI_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" sl-processed="1">
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                                              <div class="spacer"></div>
              </div>
            </div><!--/.song-wrap-->
                              <div class="song-wrap" style="position:relative">
            <div class="song" data-duration="218" data-waveform="[16,20,24,24,23,27,22,19,21,22,41,42,45,44,41,55,51,42,38,39,43,44,43,42,41,43,56,50,38,42,47,50,38,50,44,48,56,43,41,44,44,48,46,36,47,43,49,46,46,46,35,52,50,57,63,68,57,40,44,33,34,41,44,52,59,56,49,42,38,37,35,33,22,22,30,35,32,31,32,33,32,42,51,48,51,51,47,56,54,51,46,41,50,51,44,50,44,51,49,51,44,47,53,48,45,43,45,51,50,48,50,45,49,53,47,47,48,49,53,52,51,48,46,56,63,61,64,68,55,40,41,35,33,44,46,52,60,57,50,43,37,40,35,40,43,45,38,47,50,50,51,51,42,51,51,42,43,47,45,51,43,51,44,47,48,51,46,44,48,49,48,45,44,42,55,51,43,47,43,48,51,48,45,46,50,56,57,68,69,63,45,38,34,38,40,53,51,61,62,61,45,37,36,35,28,42,35,31,28,25,42,36,27,28,24,15,0,0]">
              <div class="index">04.</div>
              <div class="title">
                <a href="#" data-url="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary/3" sl-processed="1">Once Again REMIX Feat. Pugs Atomz &amp;amp; ProbCause </a>
              </div>

            </div><!--/.song-->
            <div class="song-actions">
                <div class="favorite-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Favorite Album Track">
                                                      <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </div><!--/.favourite-song-->
                <div class="playlist-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Add to Playlist">
                                                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div><!--/.playlist-song-->
                                                  <div class="download-song" target="_blank">
                      <a target="_blank" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/once-again-remix-feat.-pugs-atomz-amp-probcause.mp3?Expires=1430155107&amp;Signature=OJCfr8NQigqAcMOPUN8PkaPb5JjXmuSVIR5G8pCZHwG2NFj8ZBa4YviW0uU2jSwucBkhnQ2BfRP5t7qUW11isUC48ze40GQibCoLdL3udj04GkRTVnWlKoEip8KmuJYs9MQDW~56edMR9MNQfPTxoUDAMZ-bH6N~jWB7tGtPM8g_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" sl-processed="1">
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                                              <div class="spacer"></div>
              </div>
            </div><!--/.song-wrap-->
                              <div class="song-wrap" style="position:relative">
            <div class="song" data-duration="235" data-waveform="[39,29,42,53,32,44,45,35,35,34,33,46,41,38,48,35,47,56,31,41,41,51,55,50,46,50,41,45,59,40,50,54,44,51,52,48,46,55,41,57,49,47,52,43,49,52,48,51,47,41,54,51,42,50,48,49,53,39,52,55,42,50,51,48,40,48,37,53,37,49,57,43,57,64,49,46,52,47,57,51,38,57,42,44,60,51,38,53,38,42,47,51,54,43,41,60,36,35,16,8,49,49,37,54,49,45,57,38,43,50,39,65,53,35,53,48,41,54,42,39,52,40,52,57,46,53,56,51,54,50,47,55,53,51,61,39,46,60,46,47,48,53,43,49,46,51,46,50,57,33,38,34,39,54,53,48,49,48,46,56,42,50,60,39,52,41,44,47,52,46,45,49,43,49,36,48,54,42,49,47,45,47,43,32,53,43,48,45,37,54,66,49,53,52,48,63,57,50,53,46,58,66,37,50,59,40,51,50,41,48,51,42,53,20,34,43,24,42,43,28,37,40,31,34,21,17,23,6,9,7,1,2,0,0,0]">
              <div class="index">05.</div>
              <div class="title">
                <a href="#" data-url="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary/4" sl-processed="1">Show to Show Feat. Race of the Primeridian </a>
              </div>

            </div><!--/.song-->
            <div class="song-actions">
                <div class="favorite-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Favorite Album Track">
                                                      <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </div><!--/.favourite-song-->
                <div class="playlist-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Add to Playlist">
                                                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div><!--/.playlist-song-->
                                                  <div class="download-song" target="_blank">
                      <a target="_blank" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/show-to-show-feat.-race-of-the-primeridian.mp3?Expires=1430155107&amp;Signature=M4jMc8StrQvPMrjzVtNQHjOdUpGJy9dPUvSlRUD57rkxX-vgDTkaFYa7oiOoNaDLCBgMaTDjVqOeaDSlgm-KUPvfHFQ38ZouAx208N-UegrGOENja7O6nr2s-o9IHZDJBp7SGBuTpJaTa4FZTYEeIj2D1dHO64j6XVARulhD-Hk_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" sl-processed="1">
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                                              <div class="spacer"></div>
              </div>
            </div><!--/.song-wrap-->
                              <div class="song-wrap" style="position:relative">
            <div class="song" data-duration="239" data-waveform="[35,30,44,50,47,47,48,44,54,53,46,54,45,39,61,48,42,53,55,36,51,48,46,60,54,48,59,53,52,58,48,51,57,51,54,62,47,61,61,50,57,60,50,62,62,61,62,51,48,58,55,56,59,57,53,61,60,56,62,55,49,58,56,55,59,55,55,67,63,58,64,52,58,55,51,59,56,49,56,55,57,57,54,52,60,56,59,58,54,50,68,61,64,61,56,60,64,56,61,72,57,61,64,51,58,56,50,65,61,54,64,59,59,61,57,54,67,63,55,62,57,50,61,56,60,74,74,69,73,60,60,75,61,58,63,51,63,71,62,60,62,53,62,61,58,59,58,55,63,62,55,65,56,54,65,55,60,62,61,57,66,67,65,69,48,62,61,53,59,60,51,61,63,55,69,63,60,61,62,58,69,64,55,63,71,66,62,58,59,61,57,63,62,63,63,77,81,69,62,50,65,69,53,66,63,58,63,61,54,54,44,37,58,63,51,52,41,39,67,49,43,53,42,39,53,51,43,49,25,27,20,10,11,8,4,3,1,0,0]">
              <div class="index">06.</div>
              <div class="title">
                <a href="#" data-url="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary/5" sl-processed="1">Streets Chanting 4U Feat. Shev Rock </a>
              </div>

            </div><!--/.song-->
            <div class="song-actions">
                <div class="favorite-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Favorite Album Track">
                                                      <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </div><!--/.favourite-song-->
                <div class="playlist-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Add to Playlist">
                                                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div><!--/.playlist-song-->
                                                  <div class="download-song" target="_blank">
                      <a target="_blank" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/streets-chanting-4u-feat.-shev-rock.mp3?Expires=1430155107&amp;Signature=iSW3-YkuFPYGzUu-TlRTAWMaeACB~kxbYnMs8s~x-3qVcDUBb-ASHqkquZDd8x331ZLBYmuzbU7PSQppJRAMeOwMwfhHaM8G~Zaj4s-M37rOU1O9fU-g6irur0b7flHVldTPq5nnJ0NLkltIVBpcO3ELgIsLbkYvF6C4GwK5ub0_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" sl-processed="1">
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                                              <div class="spacer"></div>
              </div>
            </div><!--/.song-wrap-->
                              <div class="song-wrap" style="position:relative">
            <div class="song" data-duration="217" data-waveform="[46,40,39,29,37,49,48,50,55,46,71,48,53,62,48,50,51,55,43,49,66,51,35,34,31,42,45,32,37,32,40,51,35,39,36,37,46,39,29,43,37,52,39,32,30,37,43,51,31,38,31,39,53,38,33,38,33,47,38,31,37,40,49,57,67,56,55,58,69,66,61,54,59,73,74,63,56,64,67,70,64,55,60,64,72,41,43,38,44,46,37,40,35,29,42,44,38,27,45,39,42,34,34,44,38,48,38,37,39,36,52,45,33,35,31,42,41,41,29,44,41,43,24,36,50,44,54,46,47,37,36,50,55,42,59,45,51,63,53,53,42,55,59,54,58,39,54,69,74,66,61,60,60,75,65,62,58,58,73,70,64,61,59,68,72,66,59,64,70,74,69,63,62,59,74,64,68,65,60,75,71,72,57,67,70,73,62,53,63,70,70,61,46,54,45,59,64,55,56,56,61,69,67,61,59,67,78,59,46,36,33,18,10,5,2,0,0]">
              <div class="index">07.</div>
              <div class="title">
                <a href="#" data-url="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary/6" sl-processed="1">Crazy Love Feat. Greg Blackman </a>
              </div>

            </div><!--/.song-->
            <div class="song-actions">
                <div class="favorite-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Favorite Album Track">
                                                      <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </div><!--/.favourite-song-->
                <div class="playlist-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Add to Playlist">
                                                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div><!--/.playlist-song-->
                                                  <div class="download-song" target="_blank">
                      <a target="_blank" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/crazy-love-feat.-greg-blackman.mp3?Expires=1430155107&amp;Signature=YQHY-NYCHnoKNzDFf2MmaiyWb8sXdePVtQM-D~uqm4eASNSLbcmPU8gTeblvPtw2f9yX0k2wvlZEZGcNh~9uYrg8~csFc15xDmZeT3GXFa1TKT3--VqmXGBwe925NnojMR256XryZCgkVDP8SWDpIHMaU5cbwcPhMaMSGZ8gv2U_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" sl-processed="1">
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                                              <div class="spacer"></div>
              </div>
            </div><!--/.song-wrap-->
                              <div class="song-wrap" style="position:relative">
            <div class="song" data-duration="241" data-waveform="[31,30,30,31,31,29,30,25,33,41,38,34,28,31,30,29,32,28,24,52,43,32,32,42,42,47,35,33,42,42,36,43,48,52,54,65,50,46,49,61,45,35,33,36,42,37,37,30,38,41,40,41,37,41,39,37,35,33,40,62,49,44,40,42,40,42,39,38,43,42,39,39,38,40,42,40,39,37,46,57,22,32,27,31,29,20,28,24,32,38,33,44,38,46,42,40,48,38,53,58,45,30,38,34,39,45,28,37,38,38,41,50,65,61,62,54,54,50,72,54,47,47,27,41,41,39,34,47,52,51,49,41,53,57,35,34,36,32,58,43,42,43,37,47,31,37,46,47,54,29,31,43,36,40,35,30,31,30,55,45,43,42,39,43,42,36,37,36,44,40,32,38,38,42,43,34,37,36,59,42,33,37,38,41,35,28,38,32,43,37,38,37,45,49,37,36,46,45,62,40,30,31,36,30,42,34,39,38,38,28,36,45,49,47,59,43,47,40,39,6,14,13,16,14,5,11,14,10,20,5,15,15,16,23,9,13,15,17,16,6,0]">
              <div class="index">08.</div>
              <div class="title">
                <a href="#" data-url="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary/7" sl-processed="1">When The Birds Fly Feat. Maggie Vagle &amp;amp; Imani of the PHARCYDE </a>
              </div>

            </div><!--/.song-->
            <div class="song-actions">
                <div class="favorite-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Favorite Album Track">
                                                      <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </div><!--/.favourite-song-->
                <div class="playlist-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Add to Playlist">
                                                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div><!--/.playlist-song-->
                                                  <div class="download-song" target="_blank">
                      <a target="_blank" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/when-the-birds-fly-feat.-maggie-vagle-amp-imani-of-the-pharcyde.mp3?Expires=1430155107&amp;Signature=K0pme5ZpuWwfPcC669rc6Wo73C5JRcxPV1aDFJQGhfyXLch-Xrjf8LalZ4l9ESYIfpbfZYj0OLUFWTjHSPzvA6neVCbox0Nun8Ki9Fg5sWh6C-qx7R4jYaVLMwAHMGy~3urpkrJhKyshNrd3RqLUOchX5ksl7F4u5g3JqFr2qfY_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" sl-processed="1">
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                                              <div class="spacer"></div>
              </div>
            </div><!--/.song-wrap-->
                              <div class="song-wrap" style="position:relative">
            <div class="song" data-duration="150" data-waveform="[22,27,28,36,32,42,46,41,49,46,37,28,43,46,41,38,42,52,60,52,45,48,47,48,43,41,43,47,50,47,46,47,43,49,46,51,50,56,51,53,49,52,48,50,46,49,54,53,52,54,46,52,48,46,45,51,57,66,60,50,52,42,57,46,56,58,70,64,48,51,52,40,50,52,60,63,71,57,60,43,41,44,56,54,47,52,58,55,47,50,46,47,48,56,52,54,57,49,51,46,38,48,49,50,52,57,54,49,50,40,45,57,52,56,62,64,64,51,50,47,56,46,56,59,69,62,50,52,45,48,50,52,57,65,64,49,42,34,29,41,43,43,46,55,49,23,13,13,6,0]">
              <div class="index">09.</div>
              <div class="title">
                <a href="#" data-url="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary/8" sl-processed="1">Writters Block </a>
              </div>

            </div><!--/.song-->
            <div class="song-actions">
                <div class="favorite-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Favorite Album Track">
                                                      <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </div><!--/.favourite-song-->
                <div class="playlist-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Add to Playlist">
                                                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div><!--/.playlist-song-->
                                                  <div class="download-song" target="_blank">
                      <a target="_blank" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/writters-block.mp3?Expires=1430155107&amp;Signature=C-LqT5Nc3n48TdqrF-reUVoq76J5A6h-hew36CxPo2lwpvM8I-EY3B7Ka-DwY6JsWiFXLsIldjbO1V8lldNh0ZG3uRhkvyBtjoVUbJ5PQz0bOslGQkRBUXL0AyCXWr7qBr~Wc2oZqtjIINK8I~DrnsDYERimQ3N2SsJq-4Nu9f4_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" sl-processed="1">
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                                              <div class="spacer"></div>
              </div>
            </div><!--/.song-wrap-->
                              <div class="song-wrap" style="position:relative">
            <div class="song" data-duration="132" data-waveform="[28,29,41,42,43,42,31,37,49,52,45,50,53,51,54,42,45,47,43,58,50,48,51,47,51,50,43,46,43,49,50,46,58,52,52,37,44,58,58,61,52,60,57,55,43,47,37,46,48,59,49,56,55,51,55,52,44,57,52,48,47,55,54,47,47,43,46,49,57,52,45,56,58,59,63,45,43,49,44,51,52,49,52,46,38,40,43,48,53,48,58,60,57,46,54,55,56,61,52,49,59,51,48,48,62,60,61,61,48,50,57,58,53,45,44,39,46,44,51,55,45,43,45,43,42,36,45,23,1,0,0,0]">
              <div class="index">10.</div>
              <div class="title">
                <a href="#" data-url="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary/9" sl-processed="1">Funkorama Feat. Awdazcate </a>
              </div>

            </div><!--/.song-->
            <div class="song-actions">
                <div class="favorite-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Favorite Album Track">
                                                      <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </div><!--/.favourite-song-->
                <div class="playlist-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Add to Playlist">
                                                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div><!--/.playlist-song-->
                                                  <div class="download-song" target="_blank">
                      <a target="_blank" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/funkorama-feat.-awdazcate.mp3?Expires=1430155107&amp;Signature=eqecOCasOs6HzAkXvNqVZV~~Gk1GXrMApA7tzG9qlP4jXyDFgALZRKJfNKXaW8ZoVUL30PVdj9ov~PdABbmjjsGZZecMZ7UXWCoM4fNNz84FsV9be6rqsM4bmqKiRHSbk8PHBsAq7hWmIem5t5DLfHI9S0Qmd2We9UR6pYfK3dI_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" sl-processed="1">
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                                              <div class="spacer"></div>
              </div>
            </div><!--/.song-wrap-->
                              <div class="song-wrap" style="position:relative">
            <div class="song" data-duration="176" data-waveform="[34,42,42,46,44,40,45,50,50,46,40,43,43,42,36,39,45,52,38,41,42,46,42,38,46,51,51,43,57,52,58,47,50,41,52,50,51,52,56,55,47,46,46,45,50,46,56,50,53,45,44,42,49,47,56,50,51,52,40,49,47,50,37,44,45,50,43,41,47,50,46,38,45,44,54,41,53,50,54,49,50,55,49,56,44,46,43,48,49,55,53,49,56,38,45,46,46,45,57,49,51,51,43,49,49,51,46,58,50,58,50,45,41,54,44,40,46,43,56,37,44,45,48,46,39,45,50,44,41,47,49,51,50,50,43,46,47,48,49,52,48,46,55,53,58,45,43,47,44,50,42,49,48,50,43,50,45,41,39,33,31,28,22,16,17,15,11,7,6,4,3,2,1,0,0,0]">
              <div class="index">11.</div>
              <div class="title">
                <a href="#" data-url="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary/10" sl-processed="1">Hot Day </a>
              </div>

            </div><!--/.song-->
            <div class="song-actions">
                <div class="favorite-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Favorite Album Track">
                                                      <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </div><!--/.favourite-song-->
                <div class="playlist-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Add to Playlist">
                                                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div><!--/.playlist-song-->
                                                  <div class="download-song" target="_blank">
                      <a target="_blank" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/hot-day.mp3?Expires=1430155107&amp;Signature=Dq5~dCl3tKJift6R7IpId5J5iec2xGfW-OGPXoclm11cvxTEs8wDNPK2kZlmyjSA9jxtDhfEK9AaHMYd7GqN2-KJEhGrCoIf-YlH3vKaNm-EgmfudpecBJLrtd3aI0kLdl4Vo3tvMRqLR8pI5Ks~Qm74Jkx3F0pqbMNb6XppYFI_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" sl-processed="1">
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                                              <div class="spacer"></div>
              </div>
            </div><!--/.song-wrap-->
                              <div class="song-wrap" style="position:relative">
            <div class="song" data-duration="149" data-waveform="[16,18,21,22,21,39,29,36,31,37,54,41,34,38,36,41,40,35,33,49,57,42,37,35,36,52,43,42,38,41,47,36,41,40,42,45,43,51,43,43,51,46,52,45,51,56,54,51,46,57,55,46,50,44,54,49,41,59,46,59,70,65,53,59,55,67,64,57,52,57,57,32,31,26,29,37,33,33,24,28,40,31,29,22,31,39,30,32,25,46,50,46,43,41,48,51,39,43,40,39,43,41,45,38,48,35,33,45,38,41,49,48,50,40,44,45,47,50,46,61,54,45,52,41,51,47,40,53,39,54,71,69,64,61,61,66,70,68,58,49,52,45,6,2,1,0,0,0,0]">
              <div class="index">12.</div>
              <div class="title">
                <a href="#" data-url="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary/11" sl-processed="1">Life Styles Feat. Squair Blaq </a>
              </div>

            </div><!--/.song-->
            <div class="song-actions">
                <div class="favorite-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Favorite Album Track">
                                                      <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </div><!--/.favourite-song-->
                <div class="playlist-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Add to Playlist">
                                                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div><!--/.playlist-song-->
                                                  <div class="download-song" target="_blank">
                      <a target="_blank" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/life-styles-feat.-squair-blaq.mp3?Expires=1430155107&amp;Signature=M3FCIRXAIIkWXqxBE0jnFz7iZx534AqSH92mgwn9jRVyuMCZM3ChJGeZFyzJ0zXzmDaGJHBNXJXDiQI-dtUBIPrvYeUYpykPMKi-uGMQI1-y8w~tjXlxTYXzvGEVpedd5egEeQAKOTdeo5ut6MYCbga9nraiafbGsxeR-x-8YUs_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" sl-processed="1">
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                                              <div class="spacer"></div>
              </div>
            </div><!--/.song-wrap-->
                              <div class="song-wrap" style="position:relative">
            <div class="song" data-duration="157" data-waveform="[30,23,32,43,39,41,39,37,33,40,35,32,40,29,36,36,34,39,43,40,26,31,33,18,29,26,28,32,27,33,24,26,20,24,27,23,32,29,36,32,23,33,26,33,25,32,34,31,35,25,30,29,33,36,21,34,37,48,56,41,48,42,49,51,41,56,53,55,55,44,55,43,52,45,48,51,55,39,25,26,28,30,26,25,32,31,25,34,28,33,27,27,27,27,33,32,33,26,27,32,29,33,30,32,31,34,29,24,30,24,29,34,29,35,29,49,51,44,50,38,52,45,47,51,58,57,49,45,50,41,51,43,50,54,51,34,32,50,37,40,35,39,39,43,40,32,40,41,40,45,37,32,35,40,13,0,0]">
              <div class="index">13.</div>
              <div class="title">
                <a href="#" data-url="http://www.audiomack.com/api/music/url/album/mulatto-patriot/ray-elementary/12" sl-processed="1">Something Special Feat. Neak &amp;amp; NidaNasheeda </a>
              </div>

            </div><!--/.song-->
            <div class="song-actions">
                <div class="favorite-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Favorite Album Track">
                                                      <i class="glyphicon glyphicon-star-empty"></i>
                  </a>
                </div><!--/.favourite-song-->
                <div class="playlist-song">
                                                      <a data-toggle="modal" class="launch_login_modal" title="Add to Playlist">
                                                      <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div><!--/.playlist-song-->
                                                  <div class="download-song" target="_blank">
                      <a target="_blank" href="http://music.audiomack.com/albums/mulatto-patriot/ray-elementary/something-special-feat.-neak-amp-nidanasheeda.mp3?Expires=1430155107&amp;Signature=WtTOZ70H2fcHxJj6WpaWXlTq6dy~KcCgK1s~F8SnOxesd0VatptWLWGX3qdYfFsdDEpnBAoq5IfNGv-Syg9gnDFnxDUPg6pq7kuDQx8XitInbzi-ymJecwSgXZ7OVDYHJWM7NazXbJQueNKBnO8AmnolFc7~IxU-Z1OWIlIdGPU_&amp;Key-Pair-Id=APKAIKAIRXBA2H7FXITA" sl-processed="1">
                        <i class="glyphicon glyphicon-download"></i>
                      </a>
                    </div>
                                              <div class="spacer"></div>
              </div>
            </div><!--/.song-wrap-->
                </div>
            </div>
    </div>
  </div>

  <script>

  $('div.view-song > a').click(function(e) {
    e.stopPropagation();
  });

  $('a.player-favorite').click(function(e) {
    e.preventDefault();
    var el = $(this);
    var suffix = ' Album';
    $.ajax({ url: el.attr('href'), data: {ajax : true},
      success: function(result) {
        if (result.is_favorite) {
          $('a.player-favorite').attr('title', 'Un-Favorite' + suffix)
            .tooltip('hide')
            .attr('data-original-title', 'Un-Favorite' + suffix)
            .tooltip('fixTitle')
            .tooltip('show');
          $('a.player-favorite').addClass('active').blur();
        } else {
          $('a.player-favorite').attr('title', 'Favorite' + suffix)
            .tooltip('hide')
            .attr('data-original-title', 'Favorite' + suffix)
            .tooltip('fixTitle')
            .tooltip('show');
          $('a.player-favorite').removeClass('active').blur();
        }

      }
    });
  });
  </script>
      </div><!--/.player-->
  </div><!--/.no-margin-left-->
</div><!--/.player-wrapper-->


