<!doctype html>
<html>

<head>
  <title>The Feed</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="./stylesheets/application.css">
</head>

<body>

  <header class="main-header">
    <h1 class="logo">
      <a href="./feed.html">In Touch</a>
    </h1>

    <nav>
      <ul>
        <li><a href="following.html">My Artists/Add Artist</a></li>
        <li><a href="home.html">Sign Out</a></li>
        <li><a href="admin_dashboard.html">admin</a></li>
      </ul>
    </nav>
  </header>

  <div class="wrapper">
    <h3 class="txt-center">
      Latest songs released by your favorite artists
    </h3>

    <ul class="feed">

      <li>
        <a href="show.html">
          <p class="artist">Chance the Rapper<span>18 days ago</span></p>
          <p class="song">Sunday Candy</p>
        </a>
      </li>
      <li>
        <a href="show.html">
          <p class="artist">Saba<span>44 days ago</span></p>
          <p class="song">Kentucky</p>
        </a>
      </li>
      <li>
        <a href="show.html">
          <p class="artist">Drake<span>48 days ago</span></p>
          <p class="song">6 God</p>
        </a>
      </li>
      <li>
        <a href="show.html">
          <p class="artist">Pugs Atomz<span>51 days ago</span></p>
          <p class="song">EuroP</p>
        </a>
      </li>
      <li>
        <a href="show.html">
          <p class="artist">Kendrick Lamar<span>80 days ago</span></p>
          <p class="song">I</p>
        </a>
      </li>
      <li>
        <a href="show.html">
          <p class="artist">Vic Mensa<span>126 days ago</span></p>
          <p class="song">Wimme Nah</p>
        <a href="show.html">
      </li>
      <li>
        <a href="show.html">
          <p class="artist">Neak<span>184 days ago</span></p>
          <p class="song">Friends and Strangers</p>
        </a>
      </li>
      <li class="new_select">
        <a href="show.html">
          <p class="artist">The Roots<span>207 days ago</span></p>
          <p class="song">And then shoot your cousin</p>
        </a>
      </li>
           <li class="new_select">
        <a href="show.html">
          <p class="artist">Psalm One<span>304 days ago</span></p>
          <p class="song">Hug Life</p>
        </a>
      </li>
      <li>
        <a href="show.html">
          <p class="artist">Mulatto Patriot &amp Simeon Viltz<span>331 days ago</span></p>
          <p class="song">Funky Junkie</p>
        </a>
      </li>
      <li class="new_select">
        <a href="show.html">
          <p class="artist">Kanye West<span>542 days ago</span></p>
          <p class="song">Yeezus</p>
        <a href="show.html">
      </li>
    </ul>
  </div>

</body>
</html>
