<!doctype html>
<html>
<head>
  <title>Following</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="./stylesheets/application.css">
</head>
<body>

  <header class="main-header">
    <h1 class="logo">
      <a href="./feed.html">In Touch</a>
    </h1>

    <nav>
      <ul>
        <li><a href="feed.html">Back to Main Feed</a></li>
        <li><a href="following.html">My Artists/Add Artist</a></li>
        <li><a href="home.html">Sign Out</a></li>
        <li><a href="admin_dashboard.html">admin</a></li>
      </ul>
    </nav>
  </header>

  <div class="main-wrapper">
    <h3>Pick Your Favorite Artists</h3>

    <form name="submit artist" action="index.html" method="get">
      <ul class="pick-an-artist">
        <li>
          <label>
            <input type="checkbox" name="artist" value="Kanye West">
            Kanye West
          </label>
          <a href="artistfeed.html">view</a>
        </li>
        <li>
          <label>
            <input type="checkbox" name="artist" value="Chance The Rapper">
            Chance The Rapper
          </label>
          <a href="artistfeed.html">view</a>
        </li>
        <li>
          <label>
            <input type="checkbox" name="artist" value="Drake">
            Drake
          </label>
          <a href="artistfeed.html">view</a>
        </li>
        <li>
          <label>
            <input type="checkbox" name="artist" value="The Roots">
            The Roots
          </label>
          <a href="artistfeed.html">view</a>
        </li>

        <li>
          <label>
            <input type="checkbox" name="artist" value="Vic Mensa">
            Vic Mensa
          </label>
          <a href="artistfeed.html">view</a>
        </li>
        <li>
          <label>
            <input type="checkbox" name="artist" value="Kendrick Lamar">
            Kendrick Lamar
          </label>
          <a href="artistfeed.html">view</a>
        </li>
        <li>
          <label>
            <input type="checkbox" name="artist" value="Saba">
            Saba
          </label>
          <a href="artistfeed.html">view</a>
        </li>
        <li>
          <label>
            <input type="checkbox" name="artist" value="Big Krit">
            Big Krit
          </label>
          <a href="artistfeed.html">view</a>
        </li>
        <li>
          <label>
            <input type="checkbox" name="artist" value="Currency">
            Curren$y
          </label>
          <a href="artistfeed.html">view</a>
        </li>
        <li>
          <label>
            <input type="checkbox" name="artist" value="Mulatto Patriot">
            Mulatto Patriot
          </label>
          <a href="artistfeed.html">view</a>
        </li>
          <li>
          <label>
            <input type="checkbox" name="artist" value="Vic Spencer">
            Vic Spencer
          </label>
          <a href="artistfeed.html">view</a>
        </li>
      </ul>

      <br/>

      <p class='form-action'>
        <input type="submit" value="Submit" class="btn btn-success">
        &nbsp; <span>or</span> &nbsp;
        <a class="cancel" href="feed.html">Nevermind - Go Back to Feed</a>
      </p>
    </form>
  </div>

</body>
</html>
