  <div class="container">
  <h1 class="button-home-new-1" style="width: 75%; margin-top: 30px; margin-right:auto; margin-left:auto">IndyChicago.com</h1>


    <div class="button-home-new-2" style="width: 75%; margin-top: 20px; margin-bottom: 0px; margin-right:auto; margin-left:auto">
    <p style="margin-top: 15px;">This website is a curated space for all the High Quality Independent albums coming out of Chicago</p><hr/><p><a href="/users/sign_up">Get Email Notifications from your favortie Chicago Artists...<br/><hr/>All you have to do is Sign-up...</p><hr/><p> <a href="mailto:mp@ntouchmusic.com">Much Love, Any Questions?</a></p>
    </div>

<br/>

    <div style="margin:15px">

    </br>
      <p style="margin-top:50px; text-align:center" >
      <a class="button3" style="padding:50px;" href="/users/sign_up">Sign-up, NOW!</a>
    </p>
     </div>
  </div>




