  <div class="container">
    <h1 class="button-home-new-1" style="color: white; width: 75%; margin-top: 30px; margin-right:auto; margin-left:auto">IndyChicago.com</h1>

    <div style="width: 75%; margin-top: 8px; margin-right:auto; margin-left:auto">

     <img src="https://s3-us-west-2.amazonaws.com/ntouchimages/admin/chicago_flag_bright.jpg" class="img-responsive" style="display:block; width:340px; margin: 0 auto;" />

    </div>

    <div class="button-home-new-2" style="color: white; width: 75%; margin-top: 8px; margin-bottom: 0px; margin-right:auto; margin-left:auto">
    <p style="margin-top: 15px; color: white;">IndyChicago is a curated website for Chicago's<br/>High Quality Independent Music</p><hr/><p><a href="/users/sign_up">Get Email Notifications from your favortie Chicago Artists...<br/><hr/>All you have to do is Sign-up...</p><hr/><p> <a href="mailto:steven@indychicago.com">Much Love, Any Questions?</a></p>
    </div>

<br/>

    <div style="margin:15px">

    </br>
      <p style="margin-top:50px; text-align:center" >
      <a class="btn-lg button-signup" href="/users/sign_up">Sign-up, NOW!</a>
    </p>
     </div>
  </div>




