  <div class="container">
    <h1 class="button-home-new-1" style="color: white; width: 75%; margin-top: 30px; margin-right:auto; margin-left:auto">IndyChicago.com</h1>

    <div style="width: 75%; margin-top: 30px; margin-right:auto; margin-left:auto">


<%= image_tag "http://s3-us-west-2.amazonaws.com/ntouchimages/admin/chicago-flag-bright.jpg" %>
<%= image_tag "http://s3-us-west-2.amazonaws.com/ntouchimages/admin/chicago-flag-shade.jpg" %>

        <img src="http://s3-us-west-2.amazonaws.com/ntouchimages/admin/chicago-flag-bright.jpg" />
        <img src="http://s3-us-west-2.amazonaws.com/ntouchimages/admin/chicago-flag-shade.jpg" />
    </div>

    <div class="button-home-new-2" style="color: white; width: 75%; margin-top: 20px; margin-bottom: 0px; margin-right:auto; margin-left:auto">
    <p style="margin-top: 15px; color: white;">IndyChicago is a curated website for Chicago's High Quality Independent Music</p><hr/><p><a href="/users/sign_up">Get Email Notifications from your favortie Chicago Artists...<br/><hr/>All you have to do is Sign-up...</p><hr/><p> <a href="mailto:steven@indychicago.com">Much Love, Any Questions?</a></p>
    </div>

<br/>

    <div style="margin:15px">

    </br>
      <p style="margin-top:50px; text-align:center" >
      <a class="btn-lg button-signup" href="/users/sign_up">Sign-up, NOW!</a>
    </p>
     </div>
  </div>




