<div class="container">
  <div>
    <img src="assets/homepage1.jpg" alt"homePIC" height="350" width="1150">
  </div>
  </br>
  <h1 style="text-align:center">Stay "In Touch" with Your Favorite Artist!</h1>
  </br>
  <h2 style="text-align:center">It's SIMPLE!</h2>
  </br>
  <h2 style="text-align:center">Choose Your Favorite Artists</h2>
  </br>
  <h2 style="text-align:center">Recieve a text and/or email notifacation when a new song is released.</h2>
  </br>
  </br>
  <p style="text-align:center">
    <a class="btn btn-success" href="/users/sign_up">Sign-up</a>
  </p>
  </br>
</div>
