  <div class="container">
    <div id="owl-demo">
      <div class="item"><img src="/assets/artists/beatles.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/michael-jackson.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/madonna.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/beyonce.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/prince.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/kanye-west.jpg" alt="artist"></div>
    </div>

    </br>
    <h1 style="text-align:center">Stay "In Touch" with Your Favorite Artist!</h1>
    </br>
    <h2 style="text-align:center">It's SIMPLE!</h2>
    </br>
    <h2 style="text-align:center">Choose Your Favorite Artists</h2>
    </br>
    <h2 style="text-align:center">Recieve a text and/or email notifacation when a new song is released.</h2>
    </br>
    </br>
    <p style="text-align:center">
      <a class="btn btn-success" href="/users/sign_up">Sign-up</a>
    </p>
    </br>
  </div>

<script>
$(document).ready(function() {

  $("#owl-demo").owlCarousel({

      autoPlay: 3000, //Set AutoPlay to 3 seconds

      items : 6,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]

  });

});

</script>

