  <div class="container">
  <h1 class="button1">Welcome to the NTouchMusicApp</h1>

    <div id="owl-demo" class="owl-carousel">
      <div class="item" style"position:relative;"><img src="https://s3-us-west-2.amazonaws.com/ntouchimages/admin/beatles.jpg" alt="artist"></div>
      <div class="item" style"position:relative;"><img src="https://s3-us-west-2.amazonaws.com/ntouchimages/admin/bob-marley.jpg" alt="artist"></div>
      <div class="item" style"position:relative;"><img src="https://s3-us-west-2.amazonaws.com/ntouchimages/admin/pugs-atomz-hand.jpg" alt="artist"></div>
      <div class="item" style"position:relative;"><img src="https://s3-us-west-2.amazonaws.com/ntouchimages/admin/michael-jackson.jpg" alt="artist"></div>
      <div class="item" style"position:relative;"><img src="https://s3-us-west-2.amazonaws.com/ntouchimages/admin/chance-the-rapper.jpg" alt="artist"></div>
      <div class="item" style"position:relative;"><img src="https://s3-us-west-2.amazonaws.com/ntouchimages/admin/kanye-west.jpg" alt="artist"></div>
    </div>

    <h2 class="button2">We are a notification service dedicated to informing you when your favorite artists' releases a new song.<br/> Simply let us know your favorite artists.<br/> (1st 4 are FREE!) <br/>Then just wait to recieve a text and/or email when any of your favorite artists' releases a new song.</h2>

<!--     <h3 class="button">
    </h3> -->

    </br>

    <% unless current_user.present? %>
    <div style="margin:15px">
<!--      <p style="text-align:center" >
      <a class="button button:hover" style="padding:30px;" href="/breakdown">Show Me More</a>
    </p> -->
    </br>
      <p style="text-align:center"  >
      <a class="button3" style="padding:50px;" href="/users/sign_up">Sign-up, NOW!</a>
    </p>
     <% end %>
     </div>
  </div>

<script>
$(document).ready(function() {

  $("#owl-demo").owlCarousel({

      autoPlay: 3000, //Set AutoPlay to 3 seconds

      items : 6,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]

  });

});

</script>


