  <div class="container">
    <div class="jumbotron">
      <h1>IndyChicago.com</h1>
    </div>
    <br/>
    <div style="width: 75%; margin-right:auto; margin-left:auto">

     <img src="https://s3-us-west-2.amazonaws.com/ntouchimages/admin/chicago_flag_bright.jpg" class="img-responsive" style="display:block; width:340px; margin: 0 auto;" />

    </div>
    <br/>

    <div class="button-home-words">
    <p style="margin-top: 15px; color: white;">This is a curated website for Chicago's<br/>High Quality Independent Music</p><hr/><p><a href="/users/sign_up">Get Email Notifications from your favortie Chicago Artists...<br/><hr/>All you have to do is Sign-up...</p><hr/><p> <a href="mailto:steven@indychicago.com">Much Love, Any Questions?</a></p>
    </div>

    <br/>
    <% if current_user.present? %>
    <% else %>
    <div class="button-signup-2">
        <%= link_to "Sign-up, NOW!", new_user_registration_path, :class => "btn button-signup-2" %>
        <% end %>
    </div>
  </div>

  </div>
</div>








