  <div class="container">
    <div id="owl-demo">
      <div class="item"><img src="/assets/artists/beatles.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/madonna.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/beyonce.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/kanye-west.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/prince.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/michael-jackson.jpg" alt="artist"></div>
    </div>

    </br>
    <h1 style="text-align:center">Welcome to NTouchMusic.com</h1>
    <h5 style="text-align:center">We are a notification service dedicated to informing you when one of your favorite artists' releases a new song.</h5>
    </br>
    </br>
    <h3 style="text-align:center">It's Simple! Let us know your favorite artists. (1st 3 are FREE!)</h3>

    <h3 style="text-align:center">Recieve a text and/or email when any of your favorite artists' releases a new song.
    </h3>
    </br>
    </br>
    </br>
    <p style="text-align:center" >
      <a class="btn btn-success" style="padding:30px;" href="/users/sign_up">Sign-up</a>
    </p>
  </div>

<script>
$(document).ready(function() {

  $("#owl-demo").owlCarousel({

      autoPlay: 3000, //Set AutoPlay to 3 seconds

      items : 6,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]

  });

});

</script>

