  <div class="container">
    <div id="owl-demo" class="owl-carousel">
      <div class="item"><img src="/assets/artists/beatles.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/madonna.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/beyonce.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/kanye-west.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/prince.jpg" alt="artist"></div>
      <div class="item"><img src="/assets/artists/michael-jackson.jpg" alt="artist"></div>
    </div>

    <h4 style="text-align:center; padding:4px; background-color:red;">We are a notification service dedicated to informing you when one of your favorite artists' releases a new song.</h4>

    <h1 style="text-align:center; padding:5px; background-color:white;">Welcome to NTouchMusic.com</h1>

    <h3 style="text-align:center; padding:5px; background-color:red;">Simply let us know your favorite artists. (1st 3 are FREE!) <br/>Just wait to recieve a text and/or email when any of your favorite artists' releases a new song.</h3>

    </br>

    <% unless current_user.present? %>
     <p style="text-align:center" >
      <a class="btn-homepage" style="padding:30px;" href="/breakdown">Show Me More</a>
    </p>
    </br>
      <p style="text-align:center"  >
      <a class="btn-homepage" style="padding:50px;" href="/users/sign_up">Sign-up!</a>
    </p>
     <% end %>
  </div>

<script>
$(document).ready(function() {

  $("#owl-demo").owlCarousel({

      autoPlay: 3000, //Set AutoPlay to 3 seconds

      items : 6,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]

  });

});

</script>

