  <div class="container">
  <h1 class="button1" style="width: 75%; margin-top: 30px; margin-right:auto; margin-left:auto">IndyChicago.com</h1>


    <div class="button2" style="width: 75%; margin-top: 5px; margin-bottom: 0px; margin-right:auto; margin-left:auto">
    <p class="home-page-words">This website is a curated space for all the High Quality Independent albums coming out of Chicago</p><hr/><p class="home-page-words" style="text-align:center"><a href="/users/sign_up">Free Email Notifications from your favorties'<br/>all you have to do is Sign-up...</p><hr/><p class="home-page-words" style="text-align:center; margin-bottom:5px;">Much Love. <a href="mailto:contact.ntouchmusic@gmail.com">Any Questions?</a></p>
    </div>

<br/>

    <div style="margin:15px">

    </br>
      <p style="margin-top:50px; text-align:center" >
      <a class="button3" style="padding:50px;" href="/users/sign_up">Sign-up, NOW!</a>
    </p>
     </div>
  </div>




