

SdfvSfvs


<div class="main-wrapper">

  <div class="song-page-title">
    <h2>Hollywood</h2>
    <h4>
      by <a href="artistfeed.html"><strong>Kendrick Lamar</strong></a>
      (2 days ago). Producers: Rahki & Mixed by Ali
    </h4>
  </div>

  <div class="song-player">
    <!-- <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/169301203&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false">
    </iframe> -->

    <iframe src='https://www.audiomack.com/embed4/kendrick-lamar-28/i-love-myself-follow-me-1?' scrolling='no' width='100%' height='110' scrollbars='no' frameborder='0'>
    </iframe>
  </div>

  <hr/>

  <h4>Links to Stream and Buy "Hollywood"</h4>

  <ul class="song-additional-link">

    <li>
      <a href="https://itunes.apple.com/us/album/i-single/id921042833" target="_blank">
        iTunes
      </a>
    </li>

    <li>
      <a href="https://play.google.com/store/music/album/Kendrick_Lamar_i?id=B3glpvj3sqtx6ka55m4bsmjfkly&PAffiliateID=10lwu4" target="_blank">
      GOOGLE PLAY
      </a>
    </li>

    <li>
      <a href="https://play.google.com/store/music/album/Kendrick_Lamar_i?id=B3glpvj3sqtx6ka55m4bsmjfkly&PAffiliateID=10lwu4" target="_blank">
      Amazon
      </a>
    </li>

      <li>
      <a href="https://play.spotify.com/album/51C65YqHrDODM1hD5FEL5x" target="_blank">
        Spotify
      </a>
    </li>
  </ul>

  <hr/>

  <div class="song-video">
    <iframe width="100%" height="500" src="http://www.youtube.com/embed/8aShfolR6w8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <hr/>
</div>
