<div class="wrapper">
  <h3 class="txt-center">
    Latest songs released by your favorite artists
  </h3>

  <ul class="container">
    <% @songs.each do |song| %>
      <li>
        <a href="/songs/<%= song.id %>">
          <p class="artist">
            <%= song.artist.name %>
            <% if song.release_date.present? %>
              <span><%= time_ago_in_words(song.release_date) %></span>
            <% end %>
          </p>
          <p class="song"><%= song.title %></p>
        </a>
      </li>
    <% end %>
  </ul>
</div>
