<% @subscriptions.each do |subscription| %>


  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">

      <div class="panel-body">
      <%= image_tag subscription.artist.avatar.url(:medium) %>
        <dl>
          <br>
          <dd class="button12b"><%= subscription.artist.name %></dd>
          <dd><%= link_to "Click here for Artist Feed", artist_path(subscription.artist.id), :class => "btn btn-primary" %></dd>
          <dd><%= link_to 'Unsubscribe', subscription_path(subscription), :method => :delete, :class => "btn btn-danger" %></dd>
        </dl>
      </div>
    </div>
  </div>

<% end %>

