<div class="container">
    <%= link_to 'New Subscription', new_subscription_path, :class => "btn btn-primary" %>


  <p id="notice"><%= notice %></p>

  <%= render 'my_subs' %>
</div>
<div class="container">

  <br>
  <hr>
  <%= render 'new_subs' %>

</div>
