.button10 {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 8.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button10:hover {
   border-top-color: #ffffff;
   background: #ffffff;
   color: #000000;
   }
.button10:active {
   border-top-color: #000000;
   background: #000000;
   }

.button10b {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 8.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
