.button10 {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 8.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button10:hover {
   border-top-color: #ffffff;
   background: #ffffff;
   color: #000000;
   }
.button10:active {
   border-top-color: #000000;
   background: #000000;
   }

.button10b {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 8.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }

.button12 {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 5px 10px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   }
.button12:hover {
   border-top-color: #ffffff;
   background: #ffffff;
   color: #000000;
   }
.button12:active {
   border-top-color: #000000;
   background: #000000;
   }
.button12b {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 5px 10px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 18px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   }

.button10c {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 7px 14px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button10c:hover {
   border-top-color: #ffffff;
   background: #ffffff;
   color: #000000;
   }
.button10c:active {
   border-top-color: #000000;
   background: #000000;
   }
.button13 {
   border-top: 1px solid #545454;
   background: #00375c;
   background: -webkit-gradient(linear, left top, left bottom, from(#21258f), to(#00375c));
   background: -webkit-linear-gradient(top, #21258f, #00375c);
   background: -moz-linear-gradient(top, #21258f, #00375c);
   background: -ms-linear-gradient(top, #21258f, #00375c);
   background: -o-linear-gradient(top, #21258f, #00375c);
   padding: 5px 10px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


