@import "header";
@import "unify/header-default";
@import "unify/header-v2";
@import "unify/header-v6";
@import "unify/footer-default";
@import "unify/footer-v7";
@import "unify/bootstrap.min";
@import "unify/bootstrap-theme";
@import "unify/bootstrap-theme.min";
@import "unify/bootstrap.min";
@import "unify/brand-buttons";
@import "unify/brand-buttons-inversed";

@import "owl/custom";
@import "owl/owl.carousel";
@import "owl/owl.theme";
@import "owl/owl.transitions";
@import "owl/responsive";


@import "unify/animate";
@import "unify/line-icons";
@import "unify/flexslider";
@import "layout-v6-header";

@font-face {
   font-family: 'Glyphicons Halflings';
   src: url('/assets/glyphicons-halflings-regular.eot');
   src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/glyphicons-halflings-regular.woff') format('woff'),
      url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
      url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@import "font-awesome-sprockets";
@import "font-awesome";

@import "home";
@import "feed";

@import "album_show";
@import "custom";
@import "box";

.panel-body {
  img { max-width: 100%; }
}


