@import "header";


@import "owl/custom";
@import "owl/owl.carousel";
@import "owl/owl.theme";
@import "owl/owl.transitions";
@import "owl/responsive";

@import "unify/app.css";
@import "unify/header-default";
@import "unify/header-v2";
@import "unify/footer-default";
@import "unify/footer-v7";
@import "unify/plugins/bootstrap/css/bootstrap.min";
@import "unify/plugins/animate";
@import "unify/plugins/line-icons/line-icons";
@import "unify/plugins/flexslider";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "home";
@import "feed";



@font-face {
   font-family: 'Glyphicons Halflings';
   src: url('/assets/glyphicons-halflings-regular.eot');
   src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/glyphicons-halflings-regular.woff') format('woff'),
      url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
      url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@import "custom";
