.artist-show-feed-left {
  width: 300px;
  float: left;
}

.artist-show-feed-right {
  width: 500px;
  float: right;
}

/*.wrapper_artistfeed {
  width: 500px;
  margin: 40px 0;
  float: right;
}
*/

/*.bio_text {
  font-size: 15px;
  width: 250px;
}

*/
