/* BASE.CSS */
/* THINGS SHARED WITH ALL OR MOST OF THE PAGES */
/* -------- */

body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
  padding: 0 0 40px 0;
  margin: 0;
}

h1 {
  padding-bottom: 10px;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

span { font-size: 15px; }

a {
  color: #008DDC;
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: 1px solid #DDDEDF;
  margin: 20px 0;
}

/* MISC REUSABLE SELECTORS */

.txtt-center {
  text-align: center;
}






/* Main wrapper to set the default size for the content */

.main-wrapper {
  margin: 0 auto;
  width: 1000px;
}

.artists-show-feed-wrapper {
  width: 500px;
  float: right;
}
