.box-songs {
float: none;
display: inline-block;
vertical-align: top;
height: 50%;
}

.box-subs {
float: none;
display: inline-block;
vertical-align: top;
height: 35%;
}

.box-albums {
float: none;
display: inline-block;
vertical-align: top;
height: 50%;
}
