.box-songs {
float: none;
vertical-align: top;
display: inline-block;
width: 24%;
}

.box-subs {
float: none;
vertical-align: top;
display: inline-block;
width: 24%;

}

.box-albums {
float: none;
vertical-align: top;
display: inline-block;
width: 24%;
}
