.box-songs {
float: none;
vertical-align: top;
display: inline-block;

}

.box-subs {
float: none;
vertical-align: top;
display: inline-block;

}

.box-albums {
float: none;
vertical-align: top;
display: inline-block;

}
