.button-external-link {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 8.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button-external-link:hover {
   border-top-color: #ffffff;
   background: #ffffff;
   color: #000000;
   }
.button-external-link:active {
   border-top-color: #000000;
   background: #000000;
   }

.button-bar {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 8.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   width: 75%;
   vertical-align: middle;
   }

.button-bar-album-show {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 8.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }

.panel-button-big {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 5px 10px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 18px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   }

.panel-button-small {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 5px 10px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   }

.button-click-listen {
   border-top: 1px solid #545454;
   background: #00375c;
   background: -webkit-gradient(linear, left top, left bottom, from(#21258f), to(#00375c));
   background: -webkit-linear-gradient(top, #21258f, #00375c);
   background: -moz-linear-gradient(top, #21258f, #00375c);
   background: -ms-linear-gradient(top, #21258f, #00375c);
   background: -o-linear-gradient(top, #21258f, #00375c);
   padding: 5px 10px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }

.button-home-words {
   border-top: 1px solid #bab8ff;
   background: #fe5070;
   background: -webkit-gradient(linear, left top, left bottom, from(#3b61a3), to(#fe5070));
   background: -webkit-linear-gradient(top, #3b61a3, #fe5070);
   background: -moz-linear-gradient(top, #3b61a3, #fe5070);
   background: -ms-linear-gradient(top, #3b61a3, #fe5070);
   background: -o-linear-gradient(top, #3b61a3, #fe5070);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #a1fcff;
   font-size: 28px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   text-align: center;
   color: white;
   width: 75%;
   margin: auto;
   }

.button-signup {
   border-top: 1px solid #949494;
   background: #919191;
   background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#919191));
   background: -webkit-linear-gradient(top, #707070, #919191);
   background: -moz-linear-gradient(top, #707070, #919191);
   background: -ms-linear-gradient(top, #707070, #919191);
   background: -o-linear-gradient(top, #707070, #919191);
   padding: 8.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 1.75em;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   padding: 32px;
   text-align:center;
   width: 75%;
   margin: auto;
   }

.error-msg-btn {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 8.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   margin-bottom: 16px;
}

.user-proile-button {
   border-top: 1px solid #000000;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   padding: 12px 0px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}

.user-proile-button-below {
   border-top: 1px solid #000000;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   padding: 12px 30px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 1em;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   width: 50%;
}

.label-name-field {
  font-size: 1.6em;
}

.label-name-field-checkbox {
   font-size: 1.4em;
   padding-top: 0px;
}

.button-footer {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 7px 14px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   text-align: center;
   }

