/* Add here all your css styles (customizations) */

@font-face {
   font-family: 'Glyphicons Halflings';
   src: url('/assets/glyphicons-halflings-regular.eot');
   src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/glyphicons-halflings-regular.woff') format('woff'),
      url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
      url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.jumbotron  {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#63c1ff), to(#65a9d7));
   background: -webkit-linear-gradient(top, #63c1ff, #65a9d7);
   background: -moz-linear-gradient(top, #63c1ff, #65a9d7);
   background: -ms-linear-gradient(top, #63c1ff, #65a9d7);
   background: -o-linear-gradient(top, #63c1ff, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   font-size: 1.5em;
  font-family: 'Arvo', serif, Lucida Grande, Helvetica, Arial, Sans-Serif;
  font-weight: 400;
  text-decoration: none;
   vertical-align: middle;
   text-align: center;
   padding: 1em;
   color: white;
   width: 75%;
   margin: 0 auto;
   border-top:0;
   }

/*@media (max-width: 800px) {
  .button-home-header {
    font-size: 24px;
  }
}*/

input[type=checkbox] {
   /* All browsers except webkit*/
   transform: scale(2.5);

   /* Webkit browsers*/
   -webkit-transform: scale(2.5);

   margin-top: 15px;
   margin-left: 9px;
   }

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

/* MISC REUSABLE SELECTORS */
.txtt-center { text-align: center; }

/* Main wrapper to set the default size for the content */
.main-wrapper {
  margin: 0 auto;
  width: 1000px;
}

.pic-w {
   width: 30em;
   }
.pic-w2 {
   width: 27em;
   display: inline-block;
   }

.panel-body {img { max-width: 100%; }  }

a { color: #ffffff }
a:hover {color:rgb(237, 255, 84);}
a:focus {color:white;}

@import url(http://fonts.googleapis.com/css?family=Arvo);

.navv-font {
  font-family: 'Arvo', serif, Lucida Grande, Helvetica, Arial, Sans-Serif;
  font-weight: 400;
}

