/* Add here all your css styles (customizations) */

a {
   color: #ffffff
}
.headnav_mp {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

#owl-demo .item-home img{
  display: block;
  width: 100%;
  height: 220px;
}

#owl-demo .item-artist img{
  display: block;
  width: 100%;
  height: 400px;
}



