.wrapper-feed {
  width: 700px;
  margin: 40px auto;
}

.wrapper-feed span {
  font-size: 23px;
  margin-left: 6px;
}

.feedxxx {
  list-style: none;
  padding: 0;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.feedxxx li {
  list-style: none;
  border-bottom: 1px solid black;
  padding: 10px;
}

.feedxxx li:last-child {
  border-bottom: none;
}

.feedxxx li:hover, .feed li.new_select:hover {
  background-color:  #f5f8fa;
  cursor: pointer;
}

.feedxxx a {
  color: black;
  text-decoration: none;
}

.artist-feed {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  position: relative;
  margin: 0;
}

.artist-feed span {
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 0;
  color: rgb(87, 87, 87);
  font-size: 12px;
}

.song-feed {
  font-size: 14px;
  margin: 0;
  margin-top: 3px;
}

.artist-show-feed-left {
  width: 300px;
  float: left;
}

.artist-show-feed-right {
  width: 500px;
  float: right;
}

/* MISC REUSABLE SELECTORS */
.txtt-center {
  text-align: center;
}

/* Main wrapper to set the default size for the content */
.main-wrapper {
  margin: 0 auto;
  width: 1000px;
}

.artists-show-feed-wrapper {
  width: 500px;
  float: right;
}

