.pick-an-artist {
  padding: 0;
}

.pick-an-artist li {
  list-style: none;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
  background-color: #F7F7F7;
  margin: 10px 0;
}

.pick-an-artist  a {
    font-size: 14px;
      float: right;
}



