.jumbotron  {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#63c1ff), to(#65a9d7));
  background: -webkit-linear-gradient(top, #63c1ff, #65a9d7);
  background: -moz-linear-gradient(top, #63c1ff, #65a9d7);
  background: -ms-linear-gradient(top, #63c1ff, #65a9d7);
  background: -o-linear-gradient(top, #63c1ff, #65a9d7);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  font-size: 1.5em;
  font-family: 'Arvo', serif, Lucida Grande, Helvetica, Arial, Sans-Serif;
  font-weight: 400;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  padding: 1em;
  color: white;
  width: 75%;
  margin: 0 auto;
  border-top:0;
}

.button-home-words {
  border-top: 1px solid #bab8ff;
  background: #2b4710;
  background: -webkit-gradient(linear, left top, left bottom, from(#63c1ff), to(#2b4710));
  background: -webkit-linear-gradient(top, #63c1ff, #2b4710);
  background: -moz-linear-gradient(top, #63c1ff, #2b4710);
  background: -ms-linear-gradient(top, #63c1ff, #2b4710);
  background: -o-linear-gradient(top, #63c1ff, #2b4710);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 1.5em;
  font-family: 'Arvo', serif, Lucida Grande, Helvetica, Arial, Sans-Serif;
  font-weight: 400;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  width: 75%;
  margin: auto;
}

.button-signup {
  background-color:2b4710;
  padding: 17.5px 35px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 1.75em;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  padding: 32px;
  text-align:center;
  border-top: 0;
  width: 75%;
  margin: auto;
  border-bottom: 0;
}
.button-signup:hover {
  background-color: #63c1ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b4710), to(#63c1ff));
  background: -webkit-linear-gradient(top, #2b4710, #63c1ff);
  background: -moz-linear-gradient(top, #2b4710, #63c1ff);
  background: -ms-linear-gradient(top, #2b4710, #63c1ff);
  background: -o-linear-gradient(top, #2b4710, #63c1ff);
  color:white;
  border-bottom: 0;
}
