.btn-homepage {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 27;
  -moz-border-radius: 27;
  border-radius: 27px;
  text-shadow: 0px 0px 5px #0d593e;
  -webkit-box-shadow: 1px 1px 1px #f8ffc7;
  -moz-box-shadow: 1px 1px 1px #f8ffc7;
  box-shadow: 1px 1px 1px #f8ffc7;
  font-family: Arial;
  color: #ffffff;
  font-size: 60px;
  padding: 10px 20px 10px 20px;
  border: solid #0774b8 2px;
  text-decoration: none;
}

.btn-homepage:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.button1 {
   border-top: 1px solid #264659;
   background: #294759;
   background: -webkit-gradient(linear, left top, left bottom, from(#438dbf), to(#294759));
   background: -webkit-linear-gradient(top, #438dbf, #294759);
   background: -moz-linear-gradient(top, #438dbf, #294759);
   background: -ms-linear-gradient(top, #438dbf, #294759);
   background: -o-linear-gradient(top, #438dbf, #294759);
   padding: 20px 40px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #f7f7f7;
   font-size: 36px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   text-align: center
   }

.button2 {
   border-top: 1px solid #264659;
   background: #294759;
   background: -webkit-gradient(linear, left top, left bottom, from(#438dbf), to(#294759));
   background: -webkit-linear-gradient(top, #438dbf, #294759);
   background: -moz-linear-gradient(top, #438dbf, #294759);
   background: -ms-linear-gradient(top, #438dbf, #294759);
   background: -o-linear-gradient(top, #438dbf, #294759);
   padding: 20px 40px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #f7f7f7;
   font-size: 21px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   text-align: center
   }

.button3 {
   border-top: 1px solid #006e30;
   background: rgb(33, 191, 88);
   background: -webkit-gradient(linear, left top, left bottom, from(#207d39), to(rgb(33, 191, 88)));
   background: -webkit-linear-gradient(top, #207d39, rgb(33, 191, 88));
   background: -moz-linear-gradient(top, #207d39, rgb(33, 191, 88));
   background: -ms-linear-gradient(top, #207d39, rgb(33, 191, 88));
   background: -o-linear-gradient(top, #207d39, rgb(33, 191, 88));
   padding: 20px 40px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 36px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   text-align: center
   }
.button3:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button3:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
.button:hover {
   border-top-color: #61b2e8;
   background: #61b2e8;
   color: #080308;
   }
.button:active {
   border-top-color: #1d4d69;
   background: #1d4d69;
   }

#owl-demo .item-home img{
  display: block;
  width: 100%;
  height: 220px;
}
