

.button-home-header {
   border-top: 1px solid #bab8ff;
   background: #fe5070;
   background: -webkit-gradient(linear, left top, left bottom, from(#3b61a3), to(#fe5070));
   background: -webkit-linear-gradient(top, #3b61a3, #fe5070);
   background: -moz-linear-gradient(top, #3b61a3, #fe5070);
   background: -ms-linear-gradient(top, #3b61a3, #fe5070);
   background: -o-linear-gradient(top, #3b61a3, #fe5070);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #a1fcff;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   font-size: 48px;
   text-decoration: none;
   vertical-align: middle;
   text-align: center;
   padding: 36px;
   color: white;
  margin: 0;

   }

/*@media (max-width: 800px) {
  .button-home-header {
    font-size: 24px;
  }
}*/


.button-home-words {
   border-top: 1px solid #bab8ff;
   background: #fe5070;
   background: -webkit-gradient(linear, left top, left bottom, from(#3b61a3), to(#fe5070));
   background: -webkit-linear-gradient(top, #3b61a3, #fe5070);
   background: -moz-linear-gradient(top, #3b61a3, #fe5070);
   background: -ms-linear-gradient(top, #3b61a3, #fe5070);
   background: -o-linear-gradient(top, #3b61a3, #fe5070);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #a1fcff;
   font-size: 28px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   text-align: center;
  color: white;
  width: 75%;
  margin: auto;
   }

.button-signup {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 8.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 48px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   padding: 32px;
   text-align:center;
   width: 75%;
   margin: auto;
   }
.button-signup:hover {
   border-top-color: #ffffff;
   background: #313131;
   }
.button-signup:active {
   border-top-color: #000000;
   background: #000000;
   }

#owl-demo .item-home img{
  display: block;
  width: 100%;
  height: 220px;
}

.button-footer {
   border-top: 1px solid #949494;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
   background: -webkit-linear-gradient(top, #000000, #212121);
   background: -moz-linear-gradient(top, #000000, #212121);
   background: -ms-linear-gradient(top, #000000, #212121);
   background: -o-linear-gradient(top, #000000, #212121);
   padding: 7px 14px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   text-align: center;
   }


