.song-page-title h2 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.song-page-title h4 {
  font-size: 17px;
  font-weight: normal;
  margin: 10px 0 0 0;
  padding: 0;
}

.song-player {
  margin: 20px 0;
}

.song-additional-link {
  padding: 0;
  margin: 0;
}

.song-additional-link li {
  padding: 10px;
  border: 1px solid #DDDEDF;
  display: inline-block;
}

